.git
.gitignore
.devcontainer
data
local_tests
temp
**/__pycache__
**/*.pyc
**/*.pyo
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
.env
.env.*
!.env.example
docker/.env.example
.secrets
*.md
.DS_Store
*.log
