# Utilities
python-dotenv>=1.0.0
requests>=2.31.0

# Database
mysql-connector-python>=9.0.0,<10

# Market calendar
exchange_calendars>=4.13.2,<5

# Data Lake
boto3>=1.34.0,<2

# Airflow
apache-airflow>=2.10.0,<3
